<template>
  <div class="dd">
    <intro />
    <what />
    <how />
    <faq />
    <sfs />
  </div>
</template>

<script>
import intro from './Intro.vue';
import what from './What.vue';
import how from './How.vue';
import faq from './FAQ.vue';
import sfs from '../../components/ModalSFS.vue';

export default {
  components: {
    intro,
    what,
    how,
    faq,
    sfs,
  },

  data() {
    // Init count and donators
    const rewards = [11, 29, 53, 101, 281, 1073];
    const donators = {};
    for (let j = 0; j < rewards.length; j += 1) {
      donators[`rwd-${rewards[j]}`] = [];
    }

    return {
      hash: window.location.hash,
      start: '2023-05-23',
      end: '2023-06-14',
      days: 0,
      hours: 0,
      progress: {
        total: 0,
        max: 60000,
      },
      list: [],
      rewards,
      donators,
      count: 0,
    };
  },

  created() {
    if (!window.vuefsPrerender) {
      fetch('https://soutenir.framasoft.org/dons/2023.json')
        .then(res => res.json())
        .then((data) => {
          this.list = data.list;
          this.updateData();
        })
        .catch((err) => { console.error(err) }); // eslint-disable-line
    }
  },

  methods: {
    updateData() {
      this.days = Math.round(((new Date(this.end)).getTime() - (new Date()).getTime())
        / (1000 * 60 * 60 * 24));
      this.hours = Math.round(((new Date(this.end)).getTime() - (new Date()).getTime())
        / (1000 * 60 * 60));
      // Fill donators
      for (let i = 0; i < this.list.length; i += 1) {
        if (!this.list[i].monthly
          && new Date(this.start) < new Date(this.list[i].date)) {
          if (/soutenir\.frama/.test(this.list[i].campaign)) {
            this.count += 1;
            this.progress.total += this.list[i].don;

            for (let j = 0; j < this.rewards.length; j += 1) {
              if (this.list[i].don >= this.rewards[j]) {
                if (j !== this.rewards.length - 1) {
                  if (this.list[i].don < this.rewards[j + 1]) {
                    this.donators[`rwd-${this.rewards[j]}`].push(this.list[i]);
                  }
                } else {
                  this.donators[`rwd-${this.rewards[j]}`].push(this.list[i]);
                }
              }
            }
          }
        }
      }
    },
  },
};
</script>

<style lang="scss">
.dd {
  h2 {
    color: var(--f-g10);
    font-family: Tovari Sans,sans-serif;
    font-size: 3rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
}
</style>
