<template>
  <main class="home">
    <dorlotons v-show="$t('lang') === 'fr'" />
  </main>
</template>

<script>
import dorlotons from './2023/Main.vue';

export default {
  components: {
    dorlotons,
  },
};
</script>
