<template>
  <main class="home">
    <dorlotons v-show="$t('lang') === 'fr' && is.before('2024/6/19')" />

    <section class="illustration">
      <b-container>
        <b-row>
          <b-col class="d-flex align-items-end justify-content-center">
            <h1
              class="d-none sr-only"
              v-html="$t('meta.title')"
            ></h1>
          </b-col>
        </b-row>
      </b-container>
    </section>

    <div ref="f-sfs">
      <sfs
        :collapsed="false"
      />
    </div>
  </main>
</template>

<script>
import dorlotons from './2024/Main.vue';

export default {
  components: {
    dorlotons,
  },
};
</script>
