<template>
  <b-modal id="detail" hide-footer :title="$t(`dd.service.${service}.title`)" title-tag="h2"
    :visible="/^#detail/.test($parent.hash)">
    <div>
      <p>
        {{ $t(`dd.service.${service}.detail`) }}
      </p>


      <b-button block variant="warning" href="https://framablog.org">
        <b v-html="$t('dd.service.even_more')"></b>
      </b-button>
    </div>
  </b-modal>
</template>
<script>
export default {
  data() {
    return {
      service: 'forms'
    }
  },

  mounted() {
    this.$root.$on('bv::modal::show', (modal) => {
      if (modal.componentId === 'detail' && /#detail-/.test(this.$parent.hash)) {
        console.log(this.$parent.hash.replace('#detail-', ''));
        this.service = this.$parent.hash.replace('#detail-', '');
      }
    });
  },

}
</script>