@import '../../commons/scss/frama/colors';
@import '../../commons/scss/frama/shadows';

/* Frameworks */
@import 'frameworks/bootstrap4';
@import 'frameworks/iconslk';

/* Fonts */
@import 'fonts/dejavu-sans';
@import 'fonts/roboto';
@import 'fonts/tovari-sans';

/* Frama */
@import 'frama/bootstrap4';
@import '../../commons/scss/frama/common';

#f--, html, body {
  background: var(--f-g3) !important;
}

#f-sfs {
  background: #f4eee8 linear-gradient(180deg, #f4eee8, var(--f-g3)) !important;
}
